body {
    background-color: #000;
    padding: 0;
    margin: 0;
}

#landing-header {
    z-index: 2;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

#landing-header h1 {
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: -1;
    animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
    background-image: url(https://images.unsplash.com/photo-1535320903710-d993d3d77d29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) 
}
  .slideshow li:nth-child(2) { 
    background-image: url(https://images.unsplash.com/photo-1459257831348-f0cdd359235f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    animation-delay: 10s; 
}
  .slideshow li:nth-child(3) { 
    background-image: url(https://images.unsplash.com/photo-1518458028785-8fbcd101ebb9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    animation-delay: 20s; 
}
  .slideshow li:nth-child(4) { 
    background-image: url(https://images.unsplash.com/photo-1521828847175-b6d80fc5a7fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    animation-delay: 30s; 
}
  .slideshow li:nth-child(5) { 
    background-image: url(https://images.unsplash.com/photo-1556740714-a8395b3bf30f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    animation-delay: 40s; 
}

  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.underline {
    text-decoration: underline;
}